body {
  margin:0 auto;
  background:teal;
  background-repeat:no-repeat;
}
svg {
  width:100%;
  height:100%;
  margin:0 auto;
  position:absolute;
  top:0;
  left:0;
}
.cell {
  -webkit-transition:.3s;
  transition:.3s;
  opacity:0;
}
.cell:hover {
  fill: darkgrey;
  stroke: teal;
  -webkit-transition:.3s;
  transition:.3s;
  cursor:pointer;

}
a,
a:hover {
  -webkit-transition:.3s;
  transition:.3s;
  cursor:pointer;
  font-family:helvetica neue;
  font-weight:200;
}

#launch {
  position:fixed;
  background:transparent;
  border:2px solid darkgrey;
  border-radius:40px;
  z-index:9999;
  top:20px;
  left:20px;
  font-size:24px;
  padding:10px 35px;
  color:darkgrey;
/*  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);*/
  -webkit-transition:.3s;
  transition:.3s;
}
#launch:hover {
  opacity:.4;
/*  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);*/
  -webkit-transition:.3s;
  transition:.3s;
}
.fa.fa-space-shuttle:hover span {
  opacity:0;
}
#stuff {
  margin:0 auto;
  width:100%;
}
.bar {
  display: inline-block;
  width: 45px;
  height: 75px;   /* We'll override this later */
  background-color: teal;
  margin:0 5px;
  -webkit-transition: .3s;
transition: .3s;
}
.bar:hover {
  background:#888;
  cursor:pointer;
  -webkit-transition: .3s;
transition: .3s;
}
