body {
  width:100%;
  height:auto;
  margin:0 auto;
  background:teal;
  background-repeat:no-repeat;
  font-family:Helvetica Neue;
}
svg {
  width:100%;
  height:100%;
  margin:0 auto;
  position:absolute;
  top:0;
  -webkit-transition:.3s;
  transition:.3s;
  left:0;
}
.cell {
  -webkit-transition:.3s;
  transition:.3s;
  opacity:0;
}
.cell:hover {
  fill:rgba(0,0,0,0.3);
  -webkit-transition:.3s;
  transition:.3s;
  cursor:pointer;

}
a,
a:hover {
  -webkit-transition:.3s;
  transition:.3s;
  cursor:pointer;
  font-family:helvetica neue;
  font-weight:200;
}

#launch {
  position:fixed;
  background:transparent;
  border:2px solid lightgrey;
  border-radius:40px;
  z-index:9999;
  bottom:20px;
  left:20px;
  font-size:28px;
  font-weight:100;
  padding:10px 35px;
  color:rgba(255,255,255,0.6);
/*  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);*/
  -webkit-transition:.3s;
  transition:.3s;
}
#launch:hover {

/*  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);*/
  background:rgba(0,0,0,0.5);
  -webkit-transition:.3s;
  transition:.3s;
}
.fa.fa-space-shuttle:hover span {
  opacity:0;
}
#stuff {
  margin:0 auto;
  width:100%;
}
#nums {
  position:fixed;
  top:20px;
  left:20px;
  color:lightgrey;
  letter-spacing:1px;
  font-weight:100;
}
